.rightSection {
  box-sizing: border-box;
  width: 30rem;
  height: 100%;
  background: rgba(31, 31, 31, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(20, 20, 20, 0.25);
  padding: 1rem 2rem;
}

.searchSection {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.searchSection input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 20rem;
  border-bottom: 1px solid white;
  padding: 1rem 0;
  font-size: 1rem;
  color: white;
}
.searchSection input::placeholder {
  color: rgb(186, 181, 181);
}

.serachIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #839f9b;
  color: black;
  width: 100%;
  height: 5rem;
  margin-right: -2rem;
  margin-top: -1rem;
  cursor: pointer;
}

.autocomplete {
  display: flex;
  flex-direction: column;
  position: relative;
}

.suggestion-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000000cc;
  border: 1px solid #ccc;
  border-top: none;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  list-style: none;
}

.suggestion-list li {
  padding: 8px;
  cursor: pointer;
}

.suggestion-list li:hover {
  background-color: #f0f0f0;
  color: black;
}
